nav.navbar-inverse {
	border-radius: 0px;
}

nav.navbar-inverse>h3 {
	margin: auto;
}

section>div.container {
	width: 460px;
	height: 300px;
	margin: 60px auto;
	background-color: #E0E0E0;
}

div.panel-body {
	height: 80%;
}

div.shareBut {
	width: 200px;
	display: inline-block;
}
a.fa:first-child{
	cursor: pointer;
}
a.fa:first-child:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #000000;
}
input[type=button] {
	width: 100px;
	height: 35px;
	margin-top: 5px;
	background-color: #333333;
	color: #E0E0E0;
	opacity: 0.8;
	border: none;
	border-radius: 5px;
}

.panelbodyQuote {
	text-align: center;
	font-size: 2.2em;
	margin-bottom: 10px;
}
.sharePrompt{
	display: none;
	color: #FF6600;	
	font-size: 16px;
	line-height: 45px;
}
